@{
    ViewData["Title"] = "About";
}
<div class="panel panel-default">
    <div class="panel-heading"><h2>@ViewData["Title"].</h2></div>
    <div class="panel-body">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae lobortis tortor. Vivamus vel aliquet urna. Nunc aliquet scelerisque pretium. Integer faucibus tellus eu accumsan dictum. Cras euismod lectus ac orci pretium eleifend. Donec facilisis aliquam ipsum non gravida. Maecenas a turpis risus. Fusce condimentum nibh eu neque euismod vulputate.
            Proin imperdiet nulla in tellus mattis, sit amet dapibus magna venenatis. Vivamus ut congue ante. Nunc euismod tortor quam, nec mollis mauris aliquam et. Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi consectetur a velit vitae lobortis. Donec at lobortis orci. Integer ut semper elit, at sollicitudin felis.
        </p>
    </div>
</div>

