@{
    ViewData["Title"] = "Contact";
}

<div class="panel panel-default">
    <div class="panel-heading"><h2>@ViewData["Title"].</h2></div>
    <div class="panel-body">
        <h3>@ViewData["Message"]</h3>
        amisabella@email.neit.edu
        <h3>@ViewData["Message2"]</h3>
        123-456-7890
    </div>
</div>